<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>지도에서 검색 표시하기</title>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=q5fmamcz08"></script>
</head>
<body>
   
    <div id="map" style="width:100%;height:400px;"></div>
    <h1> {{ json_res }}</h1>
 
    <script>
        let mapOptions = {
            //center: new naver.maps.LatLng(37.3595704, 127.105399),
            zoom: 16
        };
        let mapDiv = document.getElementById('map');
        let map = new naver.maps.Map(mapDiv, mapOptions);

        const jsonObject = {{ json_res|safe }} ;
        let markArr = [];
        //const jsonObject = JSON.parse(js); 
        if(jsonObject != "error"){
            let items = jsonObject["items"];
            for(let i in items) {      
                let name = items[i]["title"];
                let map_x = items[i]["mapx"];
                let map_y = items[i]["mapy"];
               //let tm128 = naver.maps.Point(map_x, map_y)
                //console.log(tm128)
               // let map_coord = naver.maps.TransCoord.fromTM128ToLatLng(tm128);
                //console.log(map_coord);
                markArr[i] = new naver.maps.Marker({
                    position: new naver.maps.LatLng(map_x, map_y),
                    map: map,
                    title : name
                    //size : new naver.maps.Size(24, 35)
                });
                console.log(markArr[i].position);
            
            }
    }
    
    for (let i =0; i < markArr.length; i++){
        markArr[i].setMap(map);}

    </script> 
    <!-- <script src="/static/map.js"></script> -->
</body>
</html>